#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 5 rem;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

p {
  margin: 10px 0;
}

form {
  accent-color: #ff4b00;
  display: grid;
  gap: 5 rem;
}
#form-info {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

:focus-visible {
  outline: 2px solid blue;
  outline-offset: 2px;
}

.button2 {
  background-color: #ff4b00;
  color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  margin-top: 2rem;
}
button2:hover {
  background: #222;
}
button2:active {
  scale: 0.98;
}

.input {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 2px 3px #000;
  font-family: var(--font-family-sans);
}

label:has(input) {
  display: flex;
  align-items: center;
  gap: 0.25rlh;
  justify-self: start;
}
.form-group {
  display: grid;
  gap: 2px;
  margin-top: 1rem;
}

.error-message {
  display: none;
}

.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}

.form-group:has(:user-invalid) {
  input {
    outline: 2px solid red;
    border-color: darkred;
  }
  .error-message {
    display: block;
    color: darkred;
  }
}

.form-group:has(:user-valid) input {
  outline: 2px solid green;
  border-color: darkgreen;
}
