article [popover]::backdrop {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.31);
}
[popover] {
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
  margin: 0 auto;
  padding: 20px;
}
[popover] {
  opacity: 0;
  transition: 0.6s allow-discrete;
}

:popover-open {
  opacity: 1;
  rotate: none;
}
